In [1]:
a = 1

In [2]:
a

1

In [3]:
b = 4

In [4]:
b

4

In [5]:
print(b)

4

In [6]:
b = 4.0

In [7]:
print(b)

4.0

In [8]:
a = 4

In [9]:
print(a)

4

In [10]:
print(type(a))

<class 'int'>

In [11]:
print(type(b))

<class 'float'>

In [12]:
print(type(-2))

<class 'int'>

In [13]:
print(type(-3.5))

<class 'float'>

In [14]:
c = '3'

In [15]:
print(type(c))

<class 'str'>

In [16]:
c = 'Hello World!'

In [17]:
c

'Hello World!'

In [18]:
type(c)

str

In [19]:
d = True

In [20]:
type(d)

bool

In [21]:
d = False

In [22]:
type(d)

bool

In [23]:
print(d)

False

In [24]:
print('e')

e

In [25]:
print('Hello world, My name is Abhijeet!')

Hello world, My name is Abhijeet!

In [26]:
# print()

In [27]:
def summer(a, b):
    print(a + b)
    print(a)
    print(b)

In [28]:
summer(10, 20)

30
10
20

In [29]:
print(summer)

<function summer at 0x7ff5290cd160>

In [30]:
summer

In [31]:
a

4

In [32]:
print(a)

4

In [33]:
print("3")

3

In [34]:
print

In [35]:
a = 20
b = 10
summer(a, b)

30
20
10

In [36]:
first = 20
second = 100
summer(first, second)

120
20
100

In [37]:
a

20

In [38]:
id(a)

4380228896

In [39]:
id(summer)

140690932420960

In [40]:
id(c)

140690932098736

In [41]:
c = "hello"

In [42]:
id(c)

140690927033712

In [43]:
print("Hello", "world", 200)

Hello world 200

In [44]:
def memory(a):
    print("The value of the argument is:", a)
    print("Type of argument", type(a))
    print("The memory address of the argument is:", id(a))

In [45]:
memory(a)

The value of the argument is: 20
Type of argument <class 'int'>
The memory address of the argument is: 4380228896

In [46]:
c = '.'

In [47]:
ord(c)

46

In [48]:
memory(ord)

The value of the argument is: <built-in function ord>
Type of argument <class 'builtin_function_or_method'>
The memory address of the argument is: 140690882730720

In [49]:
print(type(print))

<class 'builtin_function_or_method'>

In [50]:
a

20

In [51]:
aa = print

In [52]:
aa("Hello World!")

Hello World!

In [53]:
def printer():
    print("This function is running")

In [54]:
printer

In [55]:
print(summer(10, 20))

30
10
20
None

In [56]:
summer(10, 20)

30
10
20

In [57]:
def summer(a, b):
    print(a + b)
    print(a)
    print(b)
    return (a + b), (a - b)    # Returns the value of (a+b) so that it can be used in future

In [58]:
s, p = summer(10, 20)
s = s + 5
p = p - 5

30
10
20

In [59]:
print(s, p)

35 -15

In [60]:
print(summer(10, 20))

30
10
20
(30, -10)

In [61]:
def name_printer(name):
    print("Hello", name)
    name = "Hello " + name
    return name

In [62]:
name = name_printer('Abhijeet')

Hello Abhijeet

In [63]:
print(name)

Hello Abhijeet

In [64]:
a = "Hello " + 'world'
print(a)

Hello world

In [65]:
def calc(a, b):
#     add = a+b
#     sub = a-b
#     mul = a*b
#     div = a/b
    return (a + b), (a - b), (a * b), (a / b)

In [66]:
print(calc(1, 2))

(3, -1, 2, 0.5)

In [67]:
add, sub, mul, div = calc(10, 20)

In [68]:
print(div)

0.5

In [69]:
add, _, mul, _ = calc(10, 20)

In [70]:
_

0.5

In [71]:
def first(name):
    return name
def second(name):
    return name

In [72]:
# fname = first('Abhijeet')
# lname = second('Bhattacharya')

In [73]:
def name(a, b, c, d):
    print(a(c), b(d))

In [74]:
name(first, second, 'Abhijeet', 'Bhattacharya')

Abhijeet Bhattacharya

In [75]:
print(first)

<function first at 0x7ff5290e7670>

In [76]:
# If
# Elif
# Else
# Switch

In [77]:
b = 2

In [78]:
b == 29

False

In [79]:
b > 100

False

In [80]:
if b > 10:
    print("The value of b is greater than 10")

In [81]:
if b > 20:
    print("The value of b is greater than 20")

In [82]:
if b > 30:
    print("The value of b is greater than 30")

In [83]:
if b == 10:
    print("The value of b is greater than 10")
elif b > 20:
    print("Value also greater than 20")
if b > 30:
    print("Value greater than 30")
if b < 30:
    print("Value greater than 20 but less than 30")
else:
    print("Value not in scale")

Value greater than 20 but less than 30

In [84]:
b

2

In [85]:
integer = 10

In [86]:
if integer == 9:
    print("Hi")
if integer == 10:
    print("Hello")
else:
    print("Bye")

Hello

In [87]:
if integer == 10:
    print("10")
print("not 10")

10
not 10

In [88]:
def func(a,b):
    if(a==b):
        print("a is equal to b")
    elif(a>b):
        print("a is greater than b")
    else:
        print("b is greater than a")

In [89]:
def compar(a,b):
    if a==b:
        p = str(a) + " is equal to " + str(b)
        return p
    
    elif a>b:
        q = str(a) + " is greater than " + str(b)
        return q
    
    else :
        s = str(b) + " is greater than " + str(a)
        return s

In [90]:
func(10, 20)

b is greater than a

In [91]:
a = int(input("enter the first no."))

b = int(input("enter the second no."))

enter the first no.2
enter the second no.3

In [92]:
if a>b:
  print("A is greater than B")
elif a<b:
  print("B is greater than A")
else :
  print("A and B are equal")

B is greater than A

In [93]:
def greater(a,b):
    if a > b:
        print('a is greater than b')
    else :
        print('b is greater than a')
greater(10,10)

b is greater than a

In [94]:
def fun(a,b):
    if a>b:
        print("A is greater")
    elif a<b:
        print("B is greater")
    else:
        print("Equal")

In [95]:
fun(10, 10)

Equal

In [96]:
b = input("Enter a number: ")

Enter a number: 1

In [97]:
print(b, type(b))

1 <class 'str'>

In [98]:
input()

5

'5'

In [99]:
b

'1'

In [100]:
print(b == '6')

False

In [101]:
# Type casting
b = int(b)

In [102]:
type(b)

int

In [103]:
b = int(input("Enter a number: "))
print(type(b))

Enter a number: 2
<class 'int'>

In [104]:
print(b == 22)

False

In [105]:
fun(int(input('Enter argument')), int(input('Enter argument')))

Enter argument6
Enter argument7
B is greater

In [106]:
print(type(str(b)))

<class 'str'>

In [107]:
b

2

In [108]:
b = str(b)
type(int(b))

int

In [109]:
type(b)

str

In [110]:
print(int(input('Enter random values: ')))

Enter random values: 8
8

In [111]:
def odd_even(s):
    if s % 2 == 0:
        print("EVEN")
    else:
        print("ODD")

In [112]:
odd_even(int(input('Enter number')))

Enter number4
EVEN

In [113]:
def intbool(a):
    if(type(a)==int):
        print('int')
    elif(type(a)==str):
        print('str')
    else:
        print('bool')
a = input("enter")
intbool(a)

enter5
str

In [114]:
# Loops
# While
# For

In [115]:
print("hello")

hello

In [116]:
for i in range(5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [117]:
for i in range(2):
    i = int(input("Enter a number"))
    print(type(i))

Enter a number6
<class 'int'>
Enter a number6
<class 'int'>

In [118]:
a = '2'
print(type(a))

<class 'str'>

In [119]:
def fact(a):
    x=1
    for i in range(0,a):
        x= x*(i+1)
    return x

In [120]:
fact(int(input("Enter Number")))

Enter Number6

720

In [121]:
def factorial():
    a=5
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    return fact

In [122]:
factorial()

120

In [123]:
def findSumBetween(a, b):
    ans = 0
    for k in range(a,b+1):
        ans = ans + k
    return ans

In [124]:
findSumBetween(1, 2)

3

In [125]:
def findSumBetween(b, a=5):
    ans = 0
    for k in range(a,b+1):
        ans = ans + k
#     print(ans)
    return ans

In [126]:
print(findSumBetween(10, 0))
print(findSumBetween(10))

55
45

In [127]:
for i in range(1, 5):
    print("The Iterator has a value of: ", i)

The Iterator has a value of:  1
The Iterator has a value of:  2
The Iterator has a value of:  3
The Iterator has a value of:  4

In [129]:
string = "Hello world!"

In [130]:
for i in string:
    print(i)

H
e
l
l
o

w
o
r
l
d
!

In [133]:
string = '2'
for i in string:
    print(i)

2

In [134]:
# While Loop

In [136]:
number_1 = 0
while number_1 <= 10:
    print("Current value of number is -->", number_1)
    number_1 = number_1 + 1

Current value of number is--> 0
Current value of number is--> 1
Current value of number is--> 2
Current value of number is--> 3
Current value of number is--> 4
Current value of number is--> 5
Current value of number is--> 6
Current value of number is--> 7
Current value of number is--> 8
Current value of number is--> 9
Current value of number is--> 10

In [137]:
number_1

11

In [138]:
# Break
# Continue

In [139]:
for i in range(10):
    if (i == 5):
        break
    else:
        print(i)

0
1
2
3
4

In [146]:
for j in range(500):
    if (j == 2):
        break
    print("Value of J:", j)
    for i in range(500):
            if (i == 2):
                break
            else:
                print(i)

Value of J: 0
0
1
Value of J: 1
0
1

In [148]:
# while(1):
while(True):
    a = int(input("Enter the number:- "))
    
    if (a==9):
        print("Password Correct")
        break
    else:
        print("Password Incorrect")

Enter the number:- 1
Password Incorrect
Enter the number:- 2
Password Incorrect
Enter the number:- 3
Password Incorrect
Enter the number:- 9
Password Correct

In [147]:
number_1 <= 10

False

In [151]:
for i in range(1000):
    a=int(input())
    if(a==9):
        print("Password Correct")
        break
    else:
        print("Password Incorrect")

1
Password Incorrect
2
Password Incorrect
7
Password Incorrect
8
Password Incorrect
9
Password Correct

In [152]:
for i in range(5):
    print("Value of i:", i)
    for j in range(5):
        print(j)

Value of i: 0
0
1
2
3
4
Value of i: 1
0
1
2
3
4
Value of i: 2
0
1
2
3
4
Value of i: 3
0
1
2
3
4
Value of i: 4
0
1
2
3
4

In [158]:
for i in range(10):
    i = int(input('Enter Value: '))
    if i==7:
        print("Code goes to next iteration in the current loop")
        continue
    elif i == 0:
        break
    print(i)

Enter Value: 1
1
Enter Value: 2
2
Enter Value: 3
3
Enter Value: 7
Code goes to next iteration in the current loop
Enter Value: 0

In [162]:
number_1 != 12

True

In [164]:
a+=10

In [166]:
a-=10

In [168]:
a*=10

In [170]:
a/=10

In [171]:
a

9.0

In [177]:
a = a**2

In [179]:
a = a**0.5

In [180]:
a

9.0

In [182]:
if (integer == 100) or (integer %2 == 0):
    print("Hello World!")
else:
    print("Bye")

Hello World!

In [183]:
if (integer == 100) and (integer %2 == 0):
    print("Hello World!")
else:
    print("Bye")

Bye

In [190]:
num = int(input("Enter a number:"))

flag = False

if num == 1:
    print('Number is a special number')
elif num > 1:
    for i in range(2, num - 1):
        if (num%i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number:29
29 is a prime number

In [193]:
def factors(x):
    print("The factors of",x,"are:")
    for i in range(1, x + 1):
        if x % i == 0:
            print(i)
num = 64
factors(num)

The factors of 64 are:
1
2
4
8
16
32
64