In [11]:
def temp(name):
    print('Name is', name)
#     return name

In [12]:
temp('aamir')

Name is aamir

In [14]:
def temp(name):
    print('Name is also', name)
#     return name

In [15]:
temp('aamir')

Name is also aamir

In [16]:
a = ['4', 22, 'abhijeet', 9.99]

In [19]:
print(type(a[2]))

<class 'str'>

In [23]:
def temp(a):
    print(a)

In [25]:
temp(9)
print(isinstance(temp, object))

9
True

In [27]:
name = 'abhijeet'
age = 22
print(age == 29)
if type(age) == int:
    print("True True")

False
True True

In [29]:
hex(id(temp))

'0x7fa3b1337790'

In [39]:
print(type(a))
print(isinstance(print, object))

<class 'list'>
True

In [40]:
class Student:
    mentor = 'Abhijeet'
    age = 22

In [41]:
a = Student()

In [42]:
b = Student()

In [43]:
c = Student()

In [60]:
print(c.mentor, b.mentor, a.mentor, a.age, b.age, c.age)

Abhijeet Abhijeet Abhijeet 22 22 22

In [75]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self):
        print("Hello I am:", self.alive, self.name, self.age)

In [76]:
p = Person()

In [77]:
print(p)

<__main__.Person object at 0x7fa3b1d068e0>

In [78]:
p.hello()

Hello I am: True None 22

In [88]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self, name_person, age_person, alive_person = True):
        self.name = name_person
        self.age = age_person
        self.alive = alive_person
        print("Hello I am:", self.alive, self.name, self.age)

In [89]:
q = Person()

In [90]:
print(type(q))

<class '__main__.Person'>

In [93]:
q.hello('abhijeet', 30)

Hello I am: True abhijeet 30

In [94]:
q.name

'abhijeet'

In [95]:
q.age

30

In [96]:
p = Person()

In [98]:
print(p.name)

None

In [99]:
p.hello('samar', 99, False)
print(p.name, p.age, p.alive)

Hello I am: False samar 99
samar 99 False

In [100]:
# Dunders/ Magic Function

In [106]:
class Person:
    living = True
    
    def __init__(self, person_name, person_age, person_height):
        self.name = person_name
        self.age = person_age
        self.height = person_height
        print("Chal gya")
        
    def hello(self):
        print(self.name, self.age, self.height)

In [107]:
person1 = Person('Abhijeet', 22, 5.10)
print("NEXT LINE")
person2 = Person('Siddharth', 19, 6)

Chal gya
NEXT LINE
Chal gya

In [105]:
print(person1.name, person1.age, person1.height)
print(person2.name, person2.age, person2.height)

Abhijeet 22 5.1
Siddharth 19 6

In [108]:
print(person1.living, person2.living)

True True

In [109]:
class Student:
    mentor = "Abhijeet Bhaiya"
    def __init__(self, name, rollno, age):
        self.name = name
        self.rollno = rollno
        self.age = age
s1 = Student(input("name"), input("RollNO"), input("age"))
print(s1.mentor, s1.name, s1.rollno, s1.age)

nameaamir
RollNO002
age22
Abhijeet Bhaiya aamir 002 22

In [112]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self):
        pass
    
    def details(self, name, roll, age):
        self.name = name
        self.age = age
        self.roll = roll

In [113]:
a = Student()
b = Student()
c = Student()

for i in range(3):
    name = input("Name?")
    roll = input("Roll")
    age = input("Age")
    if i == 0:
        a.details(name, roll, age)
    if i == 1:
        b.details(name, roll, age)
    if i == 2:
        c.details(name, roll, age)

Name?Abhi
Roll001
Age22
Name?Aamir
Roll002
Age23
Name?Samar
Roll09
Age33

In [114]:
print(a.name, b.name, c.name)

Abhi Aamir Samar

In [115]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self, name, age, roll):
        self.name = name
        self.age = age
        self.roll = roll

In [117]:
a = Student(input('Name'), int(input('Age')), int(input('roll')))

NameAbhi
Age22
roll001

In [120]:
b = Student(input('Name'), int(input('Age')), int(input('roll')))

NameAamir
Age23
roll002

In [121]:
print(a.name, b.name, a.age, b.age, a.roll, b.roll)

Abhi Aamir 22 23 1 2

In [125]:
print(a.mentor, b.mentor, id(a.mentor), id(b.mentor), id(Student('a', 'b', 'c').mentor))

Abhijeet Abhijeet 140341034920944 140341034920944 140341034920944

In [126]:
print(id(a.name), id(b.name))

140341039565040 140341039617136